html {
  font-family: 'Georgia';
  font-size: 16px;
  color: gray;
  line-height: 1.15;
}

h1 {
  font-size: 24px;
  color: royalblue;
}

#inputs {
  text-indent: 2%;
}

#a, #b, #c {
  text-indent: 10%;
  height: 24px;
  width: 60px;
  font-size: 16px;
  color: gray;
}

#solutions {
  color: crimson;
}
