<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quadratic Equation Solver</title>
  <meta name="description" content="Quadratic Equation Solver">
  <meta name="author" content="gus">

  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>

</head>

<body onload='brython(1)'>

    <h1>The Quadratic Equation Solver</h1>
    <p>This app will solve quadratic equations for you.</p>
    <p>Please enter the coefficients below.</p>

    <script type="text/python3">

      from browser import document, ajax
      import json
      import warnings

      def show_results(response):
          if response.status==200 or response.status==0:
              data = json.loads(response.text)
              document['result'].html = str(data['values'])
              document['event'].html = str(data['ev'])
          else:
              warnings.warn(response.text)

      def get_values(ev):
          request = ajax.ajax()
          request.bind('complete', show_results)
          request.open('POST', '/solve', True)
          request.set_header('content-type','application/json')
          data = json.dumps({'a_value': int(document['a'].value),
                             'b_value': int(document['b'].value),
                             'c_value': int(document['c'].value)})
          request.send(data)

      document['solve_button'].bind('click', get_values)

    </script>

    <div>
          <span>a:</span> <input id='a'></input>
          <span>b:</span> <input id='b'></input>
          <span>c:</span> <input id='c'></input>
    </div>

    <p>
    <button type='button', id='solve_button'>Solve!</button>
    </p>

    <div>
    <p>The solution is: <span id='result'></span></p>
    </div>

</body>
</html>
