<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quadratic Equation Solver</title>
  <meta name="description" content="Quadratic Equation Solver">
  <meta name="author" content="gus">

  <script type="text/javascript" src="jquery.js"></script>

</head>

<body>

    <h1>The Quadratic Equation Solver</h1>
    <p>This app will solve quadratic equations for you.</p>
    <p>Please enter the coefficients below.</p>

    <script type='text/javascript'>

      solve_it = function() {
          $.ajax({
              url: '/solve',
              contentType: 'application/json',
              method: 'POST',
              // success: function(data) {$('span#result').html(data.a)},
              data: JSON.stringify(a)
          })
              .done(function(data) {
                  $('span#result').html(data.a)
              })
      }

      $().ready(function() {
          $('button#solve').click(function() {
              a = parseInt($('input#a').val())
              solve_it()
          })
      })

    </script>

    <div>
      <span>a:</span> <input id='a'></input>
    </div>

    <p>
      <button type='button', id='solve'>Solve!</button>
    </p>

    <div>
      <p>The solution is: <span id='result'></span></p>
    </div>

</body>
</html>
